<template>
  
  <div class="items">
    <!---->
    <div class="item" v-for="(item,index) in info" v-bind:key="index">
      <a class="author" :href="item.user.links.html" target="_blank">
        <div class="author--left"><img :src="item.user.profile_image.small" :alt="item.user.name"></div>
        <div class="author--right">
          <div class="author--name">{{ item.user.name }}</div>
          <div class="author--link">{{ item.user.username }}</div>
        </div>
      </a>
      <div class="image">
        <img :src="item.urls.regular" :alt="item.alt_description">
      </div>
      <div class="view">
        {{ item.likes }}
      </div>
    </div>
    
  </div>
  
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      id: this.$router.currentRoute.params['id'] || 1,
      info: null,
      client_id : '3r8CIWg9-7z66Y2_s3f1uWcF6YF71NMUc8R-ekBMOzY',
      per_page : 6,
    };
  },
  mounted() {
    axios
        .get('https://api.unsplash.com/users/jason_mowry_photo/photos', {
          params: {
            client_id: this.client_id,				
            per_page: this.per_page,
            page: this.id
          }
        })
        .then(res => this.info = res.data)
  },
  watch:{
    $route(toRoute){
      this.id = toRoute.params['id']    
      
      axios
        .get('https://api.unsplash.com/users/jason_mowry_photo/photos', {
          params: {
            client_id: this.client_id,				
            per_page: this.per_page,
            page: this.id
          }
        })
        .then(res => this.info = res.data)
        .catch(error => console.error(error));        
    }
  }, 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
