<template>
  <div>
    <router-view/>
    <div class="pager">
      <div class="pager-inner">
        <div class="pager-item" v-for="(page, index) in pages" v-bind:key="page">          
          <router-link :to="index>0 ? '/p/'+(index+1) : '/'" active-class="active" exact>{{ index +1 }}</router-link>          
        </div>      
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      info: null,
      amount:0,
      pages : 0
    };
  },
  mounted() {
    const client_id = '3r8CIWg9-7z66Y2_s3f1uWcF6YF71NMUc8R-ekBMOzY';
    const per_page = 6;
    axios
      .get('https://api.unsplash.com/users/jason_mowry_photo/photos', {
        params: {
          client_id,				
          per_page,
        }
      })
      .then(res => {
        this.amount = res.headers['x-total']
        this.pages = Math.ceil(this.amount / per_page)
      })
      .catch(error => console.error(error));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
