<template>
  <div id="app">    
    <PhotoItem/>    
  </div>  
</template>

<script>

import PhotoItem from './components/PhotoItem.vue';

export default {
  name: 'App',
  components: {
    PhotoItem,
  }
}
</script>

<style>
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Roboto Condensed;
    font-size: 12px;
}

.site-wrapper {
    max-width: 680px;
    margin: 0 auto;
    height: 100%;
}

.pager {
    /* Rectangle */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.9;    
}
.pager-inner{
    max-width: 680px;
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}
.pager-item{

}
.pager-item a{    
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    min-width: 8px;
    padding: 0 4px;
    text-decoration: none;
}
.pager-item a.active{    
    font-weight: bold;
    font-size: 18px;
}

.items {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 0 80px;
}

@media (max-width: 767px) {
    .items {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
    }
}

.item {
    text-align: left;
    margin: 0 10px;
    width: calc(50% - 20px);
}

@media (max-width: 767px) {
    .item {
        max-width: 440px;
        width: 100%;        
    }
}

@media (max-width: 479px) {
    .item {
        margin: 0;
        max-width: 100%;        
    }
}

.author {
    margin: 10px 10px 8px;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.author--left {
    margin: 0 10px 0 0;
}
.author--left img{
    width: 30px; height: 30px; border-radius: 50%;
}
.author--name {
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    color: #333;
}

.author--link {
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #8d8d8d;
}

.image img {
    display: block;
    width: 100%;
    height: 230px;
    object-fit: cover;
}
@media (max-width: 767px) {
    .image img{
        height: 300px;
    }
}

@media (max-width: 479px) {
    .image img{
        height: 230px;
    }
}
.view {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    color: #8d8d8d;
    margin: 10px 10px 8px 0;
    padding: 0 23px 0 0;
    background: url(./assets/eye.svg) right center no-repeat;
}
</style>
